langchain
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
groq
openai
tiktoken
sentence-transformers
transformers
huggingface-hub
pypdf
PyPDF2
pytube
youtube-transcript-api
faiss-cpu
streamlit
python-dotenv
PyYAML
requests
pandas
numpy
yt-dlp


